.header{

    margin: auto;
    background-color: #1DB954;
    padding: 20px;
    color: white;


}

#Login{
    background-color: #1DB954;
    border-color: #1DB954;

}

ul{
    list-style-type: none;
}

.counter{
    display: flex;
    justify-content: space-evenly;
}

.destination{
    display: flex;
    justify-content: space-evenly;
}


